{{ define "meta" }}
{{ partial "plugin/seo/artikel.html" . }}
{{ end }}


{{ define "main" }}

<div id="mvp-site" class="left relative">
    <div id="mvp-site-wall" class="left relative">
        <div id="mvp-site-main" class="left relative">
            <div id="mvp-main-body-wrap" class="left relative">
                <article id="postid-77344" class="mvp-article-wrap-class hentry" itemscope itemtype="https://schema.org/Article">
                    <div id="mvp-article-cont" class="left relative">
                        <div class="mvp-main-box">
                            <div id="mvp-post-main" class="left relative">

                                <!-- Bagian Header Single post -->
                                <header id="mvp-post-head" class="left relative">
                                    <div class="mvp-post-cat left relative">
                                        <a class="mvp-post-cat-link" href="/categories/{{ .Params.Categories | urlize | lower }}">
                                            <span class="mvp-post-cat left">{{ .Params.Categories }}</span>
                                        </a>
                                    </div>
                                    <h1 class="mvp-post-title left entry-title">{{ .Title }}</h1>
                                    <div class="mvp-author-info-wrap left relative">
                                        <div class="mvp-author-info-thumb left relative">
                                            <img style="width: 40px; height: 40px; object-fit: cover;" alt="{{ .Params.Author }}" data-src="{{ or .Params.Author_image .Site.Params.default | absURL }}" class='avatar avatar-46 photo lazy'/>
                                        </div>
                                        <div class="mvp-author-info-text left relative">
                                            <div class="mvp-author-info-date left relative">
                                                <span>Publish</span>
                                                <span class="mvp-post-date updated">
                                                    <time class="post-date updated" datetime="{{ .Params.Date }}">{{ .Date.Format "January, 2006" }}</time>
                                                </span>
                                            </div>
                                            <div class="mvp-author-info-name left relative">
                                                <p>By </p>
                                                <span class="author-name vcard fn author">
                                                    <a href="#" title="Posts by {{ .Params.Author }}" rel="author" class="vcard fn author"> {{ .Params.Author }}</a>
                                                </span>
                                                <a rel="external nofollow" href="{{ .Site.Params.twitter }}" class="mvp-twit-but" target="_blank">
                                                    <span class="mvp-author-info-twit-but">
                                                        <i class="fa fa-twitter fa-2"></i>
                                                    </span>
                                                </a>
                                                <a rel="external nofollow" href="{{ .Site.Params.fb_page }}" class="mvp-fb-but" target="_blank">
                                                    <span class="mvp-author-info-twit-but">
                                                        <i class="fa fa-facebook fa-2"></i>
                                                    </span>
                                                </a>
                                                <a rel="external nofollow" href="{{ .Site.Params.fb_page }}" class="mvp-ig-but" target="_blank">
                                                    <span class="mvp-author-info-twit-but">
                                                        <i class="fa fa-instagram fa-2"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <!-- end -->

                                <div class="mvp-post-main-out left relative">
                                    <div class="mvp-post-main-in">
                                        <div id="mvp-post-content" class="left relative">
                                            <div id="mvp-post-feat-img" class="left relative mvp-post-feat-img-wide2">
                                                <img style="width: 100%; height: aoto;" data-src="{{ .Params.Image | absURL}}" class="attachment- size- wp-post-image lazy" alt="{{ .Title }}"/>
                                            </div>
                                            <div id="mvp-content-wrap" class="left relative">
                                                <div class="mvp-post-soc-out right relative">
                                                    <div class="mvp-post-soc-in">
                                                        <div id="mvp-content-body" class="left relative">
                                                            <div id="mvp-content-body-top" class="left relative">
                                                                <div id="mvp-content-main" class="left relative entry-content">
                                                                    {{ partial "plugin/ads/header.html" . }}
                                                                    {{ .Content }}
                                                                    <br>
                                                                    {{ if .Params.stt2 }}
                                                                    <h5>Pencarian Terkait:</h5>
                                                                    <p style="font-size: 16px;">{{ .Params.Stt2 }}</p>
                                                                    {{ end }}
                                                                    {{ partial "plugin/ads/footer.html" . }}
                                                                </div>
                                                            </div>
                                                            {{ partial "sidebar/related-post.html" . }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mvp-side-wrap" class="left relative theiaStickySidebar">
                                        {{ partial "sidebar/new-post.html" . }}
                                        {{ partial "sidebar/random.html" . }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>


{{ end }}
