<section id="mvp_home_feat1_widget-4" class="mvp-widget-home left relative mvp_home_feat1_widget">
    <div class="mvp-main-box">
        <div class="mvp-widget-home-head">
            <h2 class="mvp-widget-home-title">
                <a href="/categories/keuangan">
                    <span class="mvp-widget-home-title">Keuangan</span>
                </a>
            </h2>
        </div>
        <div class="mvp-widget-feat1-wrap left relative">
            <div class="mvp-widget-feat1-cont left relative">
                {{ range first 2 ( where .Site.RegularPages ".Params.categories" "keuangan" ) }}
                <a href="{{ .Permalink }}" rel="bookmark">
                    <div class="mvp-widget-feat1-top-story left relative">
                        <div class="mvp-widget-feat1-top-img left relative">
                            <img style="width: 100%; height: 354px; object-fit: cover;" src="https://ik.imagekit.io/demo/img/image4.jpeg?tr=w-400,h-300,bl-30,q-50" data-src="{{ .Params.Image | absURL }}" class="mvp-reg-img lazy wp-post-image" alt="{{ .Title }}"/>
                            <img style="width: 100%; height: 240px; object-fit: cover;" data-src="{{ .Params.Image | absURL }}" class="mvp-mob-img lazy wp-post-image" alt="{{ .Title }}"/>
                        </div>
                        <div class="mvp-widget-feat1-top-text left relative">
                            <div class="mvp-cat-date-wrap left relative">
                                <span class="mvp-cd-cat left relative">{{ .Params.Categories }}</span>
                                <span class="mvp-cd-date left relative">{{ .Date.Format "January, 2006" }}</span>
                            </div>
                            <h3>{{ .Title }}</h3>
                        </div>
                    </div>
                </a>
                {{ end }}
            </div>
            <div class="mvp-widget-feat1-cont left relative">
                {{ range first 4 ( after 2 ( where .Site.RegularPages ".Params.categories" "keuangan" ) ) }}
                <a href="{{ .Permalink }}" rel="bookmark">
                    <div class="mvp-widget-feat1-bot-story left relative">
                        <div class="mvp-widget-feat1-bot-img left relative">
                            <img style="width: 100%; height: 240px; object-fit: cover;" src="https://ik.imagekit.io/demo/img/image4.jpeg?tr=w-400,h-300,bl-30,q-50" data-src="{{ .Params.Image | absURL }}" class="mvp-reg-img lazy wp-post-image" alt="{{ .Title }}"/>
                            <img style="width: 100%; height: 80px; object-fit: cover;" data-src="{{ .Params.Image | absURL }}" class="mvp-mob-img lazy wp-post-image" alt="{{ .Title }}"/>
                        </div>
                        <div class="mvp-widget-feat1-bot-text left relative">
                            <div class="mvp-cat-date-wrap left relative">
                                <span class="mvp-cd-cat left relative">{{ .Params.Categories }}</span>
                                <span class="mvp-cd-date left relative">{{ .Date.Format "January, 2006" }}</span>
                            </div>
                            <h3>{{ .Title }}</h3>
                        </div>
                    </div>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</section>