@font-face{font-family: 'PT Serif';font-style: normal;font-weight: 400;font-display: swap;src: url(/fonts/g-font1.woff2) format('woff2');}@font-face {font-family: 'PT Serif';font-style: normal;font-weight: 400;font-display: swap;src: url(/fonts/g-font2.woff2) format('woff2');}
@font-face{font-family: 'PT Serif';font-style: normal;font-weight: 400;font-display: swap;src: url(/fonts/g-font3.woff2) format('woff2');}
@font-face{font-family: 'PT Serif';font-style: normal;font-weight: 400;font-display: swap;src: url(/fonts/g-font4.woff2) format('woff2');}
img:not([src]):not([srcset]){visibility: hidden;}img{max-width: 100%;height: auto;}#mvp-content-main h2{font-family: 'PT Serif', serif;font-size: 33px;}#mvp-content-main h3{font-family: 'PT Serif', serif;font-size: 26px;}#mvp-content-main h4{font-family: 'PT Serif', serif;font-size: 22px;}#mvp-content-main h5{font-family: 'PT Serif', serif;font-size: 20px;}#mvp-content-main h6{font-family: 'PT Serif', serif;font-size: 18px;}#mvp-post-content #mvp-content-main p{font-family: 'PT Serif', serif;font-size: 18px;line-height: 2em;color: #343A40;}#mvp-content-main p a, .mvp-post-add-main p a{box-shadow: none;text-decoration: none !important;color: #cc3f3f;}#mvp-content-main ol, .mvp-post-add-main ol{font-family: 'PT Serif', serif !important;font-size: 18px !important;line-height: 1.8em !important;color: #343A40 !important;}#mvp-content-main ul{font-family: 'PT Serif', serif !important;font-size: 18px !important;line-height: 1.8em !important;color: #343A40 !important;list-style: square !important;}#mvp-content-main blockquote p{margin: 20px;}.pagination{gap: 10px;margin-top: 20px;clear: both;display: flex;position: relative;font-size: 1em;justify-content: center;align-items: center;}.pagination li{cursor: pointer;margin-top: 20px;padding: 10px;border: #6b6b6b solid;border-width: 0.03cm;font-family: 'PT Serif', serif;border-radius: 10px;}.pagination li:hover{background-color: #920707;border: #920707;transition: all 0.5s;font-size: 1em;}.pagination li a:hover{color: #fff;}.grides{display: flex;text-align: center;}.grides .grid-areas{gap: 15px;display: grid;grid-template-columns: repeat(4, 1fr);}.grides .grid-areas img{width: 100%;height: 240px;object-fit: cover;margin-bottom: 13px;}.spanduk {top: -10px;text-align: center;background-color: #343A40;margin-bottom: 10px;height: 1px;position: relative;}.spanduk .mvp-widget-home-title {top: -15px;}.spanduk-1 {width: 100%;}
@media (max-width: 768px){.grides .grid-areas {grid-template-columns: repeat(3, 1fr);}.grides .grid-areas img {width: 100%;height: 200px;object-fit: cover;}}
@media (max-width: 568px) {.grides .grid-areas {grid-template-columns: repeat(2, 1fr);}.grides .grid-areas img {width: 100%;height: 150px;object-fit: cover;}}
.sticky-adss {
    display: none;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
    max-height: 104px;
    background-image: none;
    background-color: #fff;
    margin-bottom: 0;
    padding-top: 4px;
    transition: all .4s ease-in-out;
}

@media only screen and (max-width: 480px) {
.sticky-adss{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: visible;
    position: fixed;
    text-align: center;
   }
}

.sticky-ad-close-button {
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  right: 0;
  background-image: url("xxxxxxx/wp-content/uploads/2021/04/close.jpg");
  background-size: 13px 13px;
  background-position: 9px;
  background-color: #fff;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.sticky-ad-close-button:before {
  position: absolute;
  content: "";
  top: -20px;
  right: 0;
  left: -20px;
  bottom: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:active,
:focus {
  outline: 0
}