table {
    text-align: left !important;
    font-size: 16px !important;
    font-family: 'Pt Serif', serif !important;
    line-height: 2em !important;
    color: #494848 !important;
}

.tombol button {
    font-family: 'Pt Serif', serif;
    font-size: 16px;
    background: #045704;
    border: none;
    border-radius: 5px;
}

.tombol button:hover {
    background: #056905;
}

.tombol button a {
    padding: 0 10px;
    color: #cac6c6;
    display: block;
}

.tombol button a:hover {
    color: #fff;
}

/* css table of Content */

.toc {
    width: 50%;
}

.judul-toc {
    display: flex;
    background: #f8eded;
    padding: 0 5px;
    border-radius: 5px;
}

#TableOfContents {
    font-size: 8px !important;
}

.judul-toc button {
    margin: 3px;
    background: #f8eded;
    border-radius: 3px;
    cursor: pointer;
}

.Show {
    background: #fafafa;
    padding: 5px;
}

.Hide {
    display: none;
}

@media (max-width: 560px) {
    .toc {
        width: 90%;
    }
}