<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1"/>
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel='dns-prefetch' href='{{ .Site.Params.dns_prefetch }}'/>
<link rel='dns-prefetch' href='//fonts.googleapis.com'/>
<meta name="language" content="id"/>
<meta http-equiv="content-language" content="In-Id"/>
<meta property="og:locale" content="id_ID"/>
<meta name="geo.country" content="id"/>
{{ partial "plugin/insert/head.html" . }}
{{ partial "plugin/ads/auto.html" . }}