<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    {{ block "meta" . }} {{ end }}
    
    {{ block "css" . }}
        {{ partialCached "cache/style.html" . }}
    {{ end }}
    <script type="text/javascript" src="{{ "/js/g-jquery.js" | absURL }}"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/fav/apple-icon-57x57.png" | absURL }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{"/fav/apple-icon-60x60.png" | absURL }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{"/fav/apple-icon-72x72.png" | absURL }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{"/fav/apple-icon-76x76.png" | absURL }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{"/fav/apple-icon-114x114.png" | absURL}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{"/fav/apple-icon-120x120.png" | absURL }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{"/fav/apple-icon-144x144.png" | absURL }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{"/fav/apple-icon-152x152.png" | absURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{"/fav/apple-icon-180x180.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{"/fav/android-icon-192x192.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{"/fav/favicon-32x32.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{"/fav/favicon-96x96.png" | absURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{"/fav/favicon-16x16.png" | absURL }}">
    <link rel="manifest" href="{{ "/aseet/manifest.json" | absURL }}">
    <meta name="msapplication-TileImage" content="{{"/ms-icon-144x144.png" | absURL }}">
</head>
<body>
    <header>
        {{ partial "header.html" . }}
    </header>
        {{ block "main" . }} {{ end }}
    <footer>
        {{ partial "footer.html" . }}
    </footer>
    {{ partial "plugin/insert/footer.html" . }}
</body>
</html>