{{ $judul := .Get "judul" }}
{{ $des := .Get "des" }}

<style>
    .faq4 {
    width: 100%;
}

.faq4 .faq-heading4 {
    display: flex;
    justify-content: space-between;
    }

    .faq4 .hilang {
        display: none;
        border: 1px #000 solid;
    }
    .faq4 button {
        height: 25px;
    }
</style>

<div class="faq4">
    <div class="faq-heading4">
        <h6>{{$judul}}</h6>
        <button onclick="faq4()">
            <img src="{{ "asset/arrow.png" | absURL }}" alt="">
        </button>
    </div>
    <div class="faq-paragraf4 hilang">
        <p>
            {{$des}}
        </p>
    </div>
</div>

<script>
    function faq4(){
        document.querySelector('.faq-paragraf4').classList.toggle('hilang');
    }
</script>