{{ $judul := .Get "judul" }}
{{ $link := .Get "link" }}
{{ $gambar := .Get "gambar" }}

<div style="clear:both; margin-top:0em; margin-bottom:1em;">
    <a href="{{$link}}" target="" rel="nofollow" class="IRPP_ruby">
        <div class="postImageUrl" style="background-image:url({{$gambar}});"></div>
            <div class="centered-text-area">
                <div class="centered-text">
                    <div class="IRPP_ruby-content">
                        <div class="ctaText" style="float:left;">Baca Juga:</div>
                        <div style="clear:both"></div>
                        <div class="postTitle" style="float:left;">{{$judul}}</div>
                    </div>
                </div>
            <div class="ctaButton"></div>
        </div>
    </a>
</div>